# TMDB API — get your free key at https://www.themoviedb.org/settings/api
NEXT_PUBLIC_TMDB_API_KEY=f37022000f56717a13c473598c567ca0
NEXT_PUBLIC_TMDB_BASE_URL=https://api.themoviedb.org/3
NEXT_PUBLIC_TMDB_IMAGE_BASE=https://image.tmdb.org/t/p
